.createHeader {
  background-color: $header;
  grid-area: createHeader;
  display: grid;
  grid-template: 'createHeader__left createHeader__center createHeader__right' 100% / 60px 3fr 2fr;
}
.createHeader__left {
  @include size(60px, 100%);
  background-color: $click;
  grid-area: createHeader__left;
  @extend %flexCenter-Center-row;
  cursor: pointer;
&:hover{
  background-color: $hover;
}
  img{
    @include size(55%, auto);
  }
}
.createHeader__center {
  grid-area: createHeader__center;
  @include size(auto, 100%);
  @extend %flexCenter-flexStart-row;
}
.createHeader__right {
  grid-area: createHeader__right;
  @include size(auto, 100%);
  @extend %flexCenter-flex-end-row;
  @include distance(0 16px, 0);
}
.createHeader__member {
  @extend %flexCenter-Center-column;

  @include size(72px, 36px);
  position: relative;
  cursor: pointer;
  &--member {
    @include size(36px, 36px);
    border-radius: 50%;
    background-color: $white;
  }
  &--arrow {
    @include size(10px, 10px);
  }
}
.createHeader__member--option {
  @include size(auto, auto);
  background-color: $click;
  position: absolute;
  border: $white 1px solid;
  top:35px;
  right:1%;
  color: $text-white;
  font-size: 16px;
  div{
    @include distance(16px,0)

  }
}