.editorMain {
  background-color: $editor;
  grid-area: editorMain;
  overflow: auto;
  position: relative;
  text-align: center;
}
.editorMain__canvas--outer {
  display: block;
  
  padding: 100px;
}
.editorMain__canvas {
  @include size(100%, 100%);
  background-color: $white;
  position: relative;
  display: inline-block;
}
.editorMain__canvas--inner {
  @include size(100%, 100%);
  overflow: hidden;
  position: relative;
  display: inline-block;
}
.editorMain__canvas--select {
  @include size(100%, 100%);
  background-color: $white;
  opacity: 0;
  left: 100px;
  position: absolute;
  display: inline-block;
}
.editorMain__items {
  position: absolute;
  cursor: move;
  overflow: hidden;
  z-index: 1000;
  pointer-events: auto;
  &:hover {
    outline: 1px solid $special;
  }
}
.editorMain__item {
  // word-break: break-all;
  white-space: nowrap;
  z-index: 1001;
  display: flex;
  margin: 0;
  padding: 16px;
  &:focus {
    border: none;
    outline: none;
  }
}
.editorMain__item--select-svg {
  position: absolute;
  outline: $special 3px dotted;
  z-index: 1200;
  pointer-events: none;
  top: 0;
  left: 0;
}

.editorMain__item--select--red {
  z-index: 1200;

  position: absolute;
  outline: #fd8970 2px solid;
}
.editorMain__item--select--yellow {
  z-index: 1200;

  position: absolute;
  outline: #ffe930 2px solid;
}
.editorMain__item--select--name--red {
  z-index: 1200;

  position: absolute;
  @include size(auto, 30px);
  top: -30px;
  left: 0;
  @include distance(8px, 0);
  background-color: #fd8970;
}
.editorMain__item--select--name--yellow {
  z-index: 1200;

  position: absolute;
  @include size(auto, 30px);
  top: -30px;
  left: 0;
  @include distance(8px, 0);
  background-color: #ffe930;
}
.editorMain__item--select {
  position: absolute;
  cursor: move;
  left: -100%;
  transform-origin: right bottom;
  &-outside {
    @include size(100%, 100%);
    position: relative;
  }
  &-inside-tl {
    position: absolute;
    transform: translate(-50%, -50%);
    top: -16px;
    left: -16px;
    border: $white 1px solid;
    background-color: $special;
    @include size(15px, 15px);
    z-index: 1100;
    margin: 16px;
    cursor: nwse-resize;
  }
  &-inside-tr {
    position: absolute;
    top: -16px;
    right: -16px;
    transform: translate(50%, -50%);
    border: $white 1px solid;
    background-color: $special;
    @include size(15px, 15px);
    z-index: 1100;
    margin: 16px;

    cursor: nesw-resize;
  }
  &-inside-bl {
    position: absolute;
    bottom: -16px;
    left: -16px;
    transform: translate(-50%, 50%);
    border: $white 1px solid;
    background-color: $special;
    @include size(15px, 15px);
    z-index: 1100;
    margin: 16px;

    cursor: nesw-resize;
  }
  &-inside-br {
    position: absolute;
    bottom: -16px;
    right: -16px;
    transform: translate(50%, 50%);
    border: $white 1px solid;
    background-color: $special;
    @include size(15px, 15px);
    z-index: 1100;
    margin: 16px;

    cursor: nwse-resize;
  }
}
.editorMain__item--select__features {
  position: absolute;
  top: -15px;
  right: -44px;
  z-index: 1100;
  @include size(32px, 110px);
  @extend %flexCenter-Center-column;
  .editorMain__item--select__features--up {
    @include distance(0, 0 0 6px 0);

    @include size(28px, 28px);
    @include background-center('../img/layerUp.png');

    &:hover {
      @include background-center('../img/layerUpHover.png');
    }
    &-unable {
      @include distance(0, 0 0 6px 0);

      @include size(28px, 28px);
      @include background-center('../img/layerUpHoverun.png');
      cursor: not-allowed;
    }
  }
  .editorMain__item--select__features--down {
    @include distance(0, 0 0 10px 0);
    @include size(28px, 28px);
    @include background-center('../img/layerDown.png');
    &:hover {
      @include background-center('../img/layerDownHover.png');
    }
    &-unable {
      @include distance(0, 0 0 10px 0);

      @include size(28px, 28px);
      @include background-center('../img/layerDownHoverun.png');
      cursor: not-allowed;
    }
  }
  .editorMain__item--select__features--delete {
    @include distance(0, 0 0 6px 0);

    @include size(22px, 22px);
    @include background-center('../img/delete.png');
    &:hover {
      @include background-center('../img/deleteHover.png');
    }
  }
}
