@import 'editorHeader';
@import 'editorMain';
@import 'editorPreview';
@import '_editorShare';
@import 'toolButton';
@import 'toolController';
.editor{
  @include size(100%,100vh);
  display: grid;
  grid-template:
  'editorHeader editorHeader  editorHeader' 80px
  'toolButton  editorMain  toolController ' 1fr / 60px 1fr 300px ;
}

.itemclick{
  background-color: $click;
}
