.editorShare {

  position: fixed;
  @include size(500px, auto);
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  z-index: 2000;

  // @include distance(8px, 0);
}
.editorShare__inner{
  @include size(100%, auto);

  background-color: $editor;
  @extend %flexFlex-start-center-row;
  border-radius: 5px;
  color: $text-white;
overflow: hidden;
}
.editorShare__options {
  @include size(100%, auto);
  @extend %flexFlex-start-center-row;

}
.editorShare__option {
  @extend %flexCenter-Center-row;
  @include distance(8px, 0);
  @include size(50%, 100%);

  &-item{
@include size(100%,100px);
@extend %flexCenter-Center-row;
border-radius: 5px;
cursor: pointer;
&:hover{
  background-color: $hover;
}
  }
}
.editorShare__option-select{
  @include size(15%, 100%);

}
.editorShare__option-text{
  @include size(75%, auto);
  // @extend %flexCenter-flexStart-row ;

span{
  display: block;
  @include distance(8px 0, 0);
  @include size(100%, auto);
  font-weight: 700;
}
}
input[type='text'].editorShare__shareLink {
  @include size(100%, 28px);
  background-color: $search;
// color:$text-white;
@include distance(8px, 0);

&:focus{
  background-color: $white;
  color:text-black;

}
}
.editorShare__shareLinksetting 
{  
  background-color: $hover;

  @include size(100%,20%);
  @include distance(8px 8px 16px 8px, 0);
div{
  @include distance(8px, 0);
font-weight: 700;
}


}  
.editorShare__shareLinkList {
  @include size(100%,auto);
  @include distance(8px 8px 16px 8px, 0);
  background-color: $hover;
border-top: $white dotted 1px;
  >div:nth-child(1){
    @include distance(8px, 0);
    font-weight: 700;

  }
}
.editorShare__shareLinkList--item{
  @include distance(2px 10px, 0);
}
.editorShare__shareLinkBlock{
  @include size(100%,20%);

  @include distance(8px, 0);
  div{
    @include distance(8px, 0);
    font-weight: 700;

  }

}
.editorShare__header{
  position: relative;

  background-color: $click;
  @include size(100%,60px);
color: $text-white;
@extend %flexCenter-Center-row;
font-size: 28px;
font-weight: 700;
}
.editorShare__close{

  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  right: 5px;
  img {
    @include size(16px, 16px);
    cursor: pointer;
  }
}
.editorShare__shareLinkList-item{
  @include size(100%,auto);

  @include distance(8px, 0);
  &:hover{
    background-color: $hover;
  }
  
}
.editorShare__shareLinkList--items{
  display:flex;

  img {
    @include size(16px, 16px);
    cursor: pointer;
  }
  div{
    @include size(50%,10%);

  }
}
.editorShare__border{
  border: $special 1px solid;
border-radius: 5px;
}
.editorShare__button{
  @include distance(0, 32px 8px );

  @include size(100%,40px);
background-color: $special;
&:hover {
  background-color: darken($special, 20%);
}
}