.editorHeader {
  background-color: $header;
  grid-area: editorHeader;
  // @extend %flexCenter-space-between-row;
  display: grid;
  grid-template: 'editorHeader__left editorHeader__center editorHeader__right' 100% / 60px 3fr 2fr;
}
.editorHeader__left {
  @include size(60px, 100%);
  background-color: $white;
  grid-area: editorHeader__left;
}
.editorHeader__center {
  grid-area: editorHeader__center;
  @include size(auto, 100%);
  @extend %flexCenter-flexStart-row;
}
.editorHeader__right {
  grid-area: editorHeader__right;
  @include size(auto, 100%);
  @extend %flexCenter-flex-end-row;
  @include distance(0 16px, 0);
}
.editorHeader__button--save {
  background-color: $special;
  font-size: 12px;
  &:hover{
    background-color:  darken($special, 20%) ;
  }
}
.editorHeader__button--share {
  background-color: $button;
  font-size: 12px;
  @include distance(0, 0 16px);
  &:hover{
    background-color:  darken($button, 20%) ;
  }
}
.editorHeader__member {
  @include size(36px, 36px);

  @include background-center('../img/self-01.jpg');
  border-radius: 50%;
}
.editorHeader__scale{
  @include size(200px,28px);
  @extend %flexCenter-Center-row;
  background-color: $white;
  border-radius: 4px;
  &--main{
    @include size(100px,28px);
    @extend %flexCenter-Center-row;
  }
  button{
    @include size(20px,28px);
    color: $click;
  }
}