.home {
  @include size(100%, 100vh);
  display: grid;
  grid-template:
    'homeHeader' 80px
    'homeMain' 1fr / 1fr;
  @include distance(2px 60px, 0);
  background-image: linear-gradient(90deg, #2afadf 1%, #4c83ff 100%);
}
.home__header {
  @include size(100%, 100%);

  display: grid;

  grid-area: homeHeader;
  grid-template: 'logo  . singup singin' 100% / 1fr 4fr 1fr 1fr;
}
.home__header--logo {
  grid-area: logo;
  @include size(100%, 100%);
  @extend %flexCenter-Center-row;

  img {
    @include size(auto, 40px);
  }
}

.home__header--login {
  grid-area: singin;
  @include size(100%, 100%);
  @extend %flexCenter-Center-row;

  .home__header--link {
    @include size(70%, 40px);
    border-radius: 20px;
    @extend %flexCenter-Center-row;
    color: #4c83ff;
    background-color: $white;
    font-weight: 700;
    transition: all 0.5s;

    &:hover {
      color: $white;
      border: $white 2px solid;
      background-color: $special;
    }
  }
}
.home__main {
  @include size(100%, 100%);

  display: grid;

  grid-area: homeMain;
  grid-template: ' .textArea  imageArea .' 100% /0.2fr 1fr 1fr 0.2fr;
}
.home__text {
  @include size(100%, 100%);
  grid-area: textArea;
  @extend %flexCenter-Center-row;
}
.home__text--inner {
  @include size(100%, auto);

  @extend %flexFlex-start-center-column;
}
.home__title {
  font-weight: 700;
  font-size: 80px;
  color: $white;
  // @extend %flexCenter-Center-row;
  letter-spacing: 1px;
  line-height: 96px;
  span {
    color: #1757ee;
    font-weight: 700;
    font-size: 80px;
  }
}
.home__subtitle {
  font-weight: 500;
  font-size: 24px;
  color: rgb(90, 92, 99);
  // @extend %flexCenter-Center-row;
  letter-spacing: 1px;

  @include distance(32px 0 60px 0, 0);
}
.home__main--login {
  @include size(100%, 100%);

  .home__header--link {
    @include size(50%, 50px);
    border-radius: 20px;
    @extend %flexCenter-Center-row;
    color: #1757ee;
    background-color: $white;
    font-weight: 700;
    transition: all 0.5s;

    &:hover {
      color: $white;
      background-color: #1757ee;
    }
  }
}
.home__image {
  @include size(100%, 100%);

  grid-area: imageArea;
  @extend %flexFlex-start-center-column;
  .webpage {
    @include size(550px, auto);
    position: relative;
    @extend %flexFlex-start-center-column;
  }

  .screen {
    position: absolute;
    @include size(600px, 500px);
    @include background-center('../img/screen.png');
  }
  .screen--text {
    position: absolute;
    @include size(50px, 50px);
    @include background-center('../img/screenText.png');
    transform: scale(0.68);
    top: -143px;
    left: 40px;
    animation: screenText 8s linear infinite;

  }
  .screen--text02 {
    position: absolute;
    @include size(350px, 50px);
    @include background-center('../img/screenText02.png');
    transform: scale(0.5);
    top: -80px;
    left: 180px;
    animation: screenText02 8s linear infinite;
    opacity: 0;

  }
  .screen--image02 {
    position: absolute;
    @include size(200px, 200px);
    @include background-center('../img/bee.png');
    transform: scale(0.5);
    top: -75px;
    left: 255px;
    animation: screenImage02 8s linear infinite;
    opacity: 0;

  }
  .screen--image {
    position: absolute;
    @include size(50px, 50px);
    @include background-center('../img/screenImage.png');
    transform: scale(0.68);
    top: -143px;
    left: 85px;
    animation: screenImage 8s linear infinite;

  }
  .finger {
    position: absolute;
    @include size(30px, 30px);
    @include background-center('../img/finger.png');
    top: -110px;
    left: 160px;
    animation: screen 8s linear infinite;
  }
}
@keyframes screenImage02 {
 
  89.9% {
    opacity: 0;
   }
  
  90% {
   opacity: 1;
  }
  99.9% {
    opacity: 1;

  }
}
@keyframes screenImage {
 
  60% {
    top: -145px;
    left: 85px;
    transform: scale(0.68);

  }
  
  65% {
    top: -145px;
    left: 85px;
    transform: scale(0.8);

  }
  80% {
    top: 2px;
    left: 335px;
  }
  90% {
    top: 2px;
    left: 335px;
  }
}
@keyframes screenText {
  0% {
    top: -143px;
    left: 40px;
    transform: scale(0.68);
    display: none;

  }
  15% {
    top: -143px;
    left: 40px;
    transform: scale(0.68);

  }
  20% {
    top: -143px;
    left: 40px;
    transform: scale(0.8);
  }
  35% {
    top: -80px;
    left: 332px;
  }
  
  45% {
    top: -80px;
    left: 332px;
  }
  50% {
    top: -143px;
    left: 40px;
  }

}
@keyframes screenText02 {
  44.9%{
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  99.9% {
    opacity: 1;
  }

}
@keyframes screen {
  0% {
    top: -110px;
    left: 160px;
  }
  15% {
    top: -120px;
    left: 50px;
  }
  20% {
    top: -120px;
    left: 50px;
  }
  35% {
    top: -50px;
    left: 350px;
  }
  45% {
    top: -50px;
    left: 350px;
  }
  60% {
    top: -120px;
    left: 100px;
  }
  65% {
    top: -120px;
    left: 100px;
  }
  80% {
    top: 30px;
    left: 350px;
  }
  90% {
    top: 30px;
    left: 350px;
  }
}
// animation: example 5s linear 2s infinite alternate;
