@import 'createHeader';
@import 'createMain';

.public__views{
  @include size(100%,100%);
  display: grid;
  grid-template:
  'createHeader ' 80px
  'publicOuter   ' 100% / 1fr  ;
}body{
  background-color: $editor;

}
.public__canvas {
  @include size(100%, 100%);
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.public__outer{
  @include size(100%, 100%);
 @extend %flexCenter-Center-row ;
 background-color: $editor;
 grid-area: publicOuter;
 position: relative;

}
.public__items {
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  pointer-events: auto;
 
}
.public__item {
  white-space: nowrap;
  z-index: 1001;
  display: flex;
  margin: 0;
  padding: 16px;

}
.public__close{
  @include size(100%,100% );
  background-color: $editor;

}
.public__close--inner{
color: $text-white;
@include size(100%,calc(100% - 80px));
font-size: 60px;
@extend %flexCenter-Center-row ;

}