@import 'createHeader';

.public__views{
  @include size(100%,100%);
  display: grid;
  grid-template:
  'createHeader ' 80px
  'publicOuter   ' 100% / 100%   ;
}
.public__canvas {
  @include size(100%, 100%);
  position: relative;
  overflow: hidden;
  @include distance(0,16px);
}
.public__outer{
  @include size(100%, 100%);
 @extend %flexFlex-start-center-row  ;
 background-color: $editor;
 grid-area: publicOuter;
 position: relative;

}

.public__items {
  position: absolute;
  overflow: hidden;
  z-index: 1000;
  pointer-events: auto;
 
}
.public__item {
  white-space: nowrap;
  z-index: 1001;
  display: flex;
  margin: 0;
  padding: 16px;

}
.public__close{
  @include size(100%,100vh );
  background-color: $editor;
  @extend %flexCenter-Center-row ;

}
.public__close--inner{
color: $text-white;
font-size: 60px;
@extend %flexCenter-Center-row ;

}