.toolController {
  background-color: $controller;
  grid-area: toolController;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 14px;
}
.toolController__header {
  @include size(100%, 60px);
  border: 3px solid $click;
  ul {
    @include size(100%, 100%);

    @extend %flexCenter-flexStart-row;

    li {
      @include size(50%, 100%);
      color: $text-white;
      @extend %flexCenter-Center-row;
      text-transform: capitalize;
      &:hover {
        border-bottom: 2px solid $special;
      }
    }
  }
}
.toolController--click {
  border-bottom: 2px solid $special;
}
.toolControllerPageSetting,.toolControllerText,.toolControllerImage,.toolControllerPage {
  @include distance(16px, 0);
  color: $text-white;
}
.toolController--size-item {
  @include size(50%, auto);
  label {
    @include distance(8px 0, 0);
  }
  input {
    @include size(80%, auto);
    background-color: $click;
    color: $text-white;
    border: none;
  }
}
.toolController--size {
@extend %flexFlex-start-center-row ;
  @include size(100%,auto);
}
.toolController--color,.toolController--select {
  label {
    @include distance(8px 0, 0);
  }
  input {
    @include size(100%, 30px);
  }
  display: flex;
  flex-flow: column wrap;
}
.toolControllerText--icon{
  @include distance(16px 0,0);
  @extend %flexCenter-Center-row;
  
}
.toolControllerText--icon-img{
  @include distance(0px,2px);

  img{
    @include distance(0px,8px);
    @include size(16px,16px);
    cursor: pointer;
  }
}
.toolControllerImage,.toolControllerPage{

}