// @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i');
@mixin size($w, $h) {
  width: $w;
  height: $h;
}
@mixin distance($p, $m) {
  padding: $p;
  margin: $m;
}
@mixin background-center($url) {
  background: url($url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
%flexCenter-Center-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
%flexCenter-Center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

%flexCenter-flexStart-column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column wrap;
}
%flexCenter-flexStart-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
}
%flexCenter-space-around-column {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column wrap;
}
%flexCenter-space-around-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: row wrap;
}
%flexCenter-space-between-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column wrap;
}
%flexCenter-space-between-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}
%flexFlex-start-center-row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: row wrap;
}
%flexFlex-start-center-column {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-flow: column wrap;
}
%flexCenter-flex-end-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: row wrap;
}
%flexCenter-flex-end-column {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: column wrap;
}
$header: #393939;
$controller: #3c3c3c;
$click: #303030;
$editor: #737373;
$hover: #4b4a4a;
$button: #949d9c;
$special: #6be2d8;
$white: #f5f5f5;
$search: #7e7d7d;
$text-white: #f5f5f5;
$text-black: #312f2f;
* {
  box-sizing: border-box;
  // font-family: 'Noto Sans', Arial, Helvetica, sans-serif; // border: 1px solid red;
  font-family: Helvetica, Arial, sans-serif; // border: 1px solid red;
}

body,
html {
  @include size(100%, 100%);
  line-height: 1.15;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @include distance(0, 0);
}
h1 {
  font-size: 47px;
}
h2 {
  font-size: 36px;
}
span{
  font-size: 16px;

}
p{
  font-size: 24px;

}
ul,
li {
  list-style: none;
  cursor: pointer;
  @include distance(0, 0);
}
input,
textarea {
  resize: none;
  display: inline-block;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
  border: 1px solid #979797;
  padding: 5px;
}
button {
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  -webkit-user-drag: none;
  transition: background-color 0.2s;
  border: none;
  background-color: transparent;
  font-weight: 700;
  @include size(120px, 30px);
  border-radius: 5px;
  color: $text-white;
  @include distance(0, 0);
}

.input {
  @extend %flexFlex-start-center-column;
  position: relative;
  @include distance(0 24px, 0 0 12px 0);
  @include size(100%, auto);
  label{
    color: $editor;
    font-size: 14px;
  }
}

.displayNone {
  display: none;
}
.displayOpacity {
  opacity: 0;
  visibility: hidden;
}
.loading {
  position: fixed;
  @include size(100%, 100%);
  background-color: $special;
  z-index: 10000;
  transition: all 0.5s;
}
@media screen  and (max-width: 600px) {
  button {
    
    font-weight: 700;
    @include size(60px, 30px);
    @include distance(0, 0);
  }
}
@import 'reset';
@import 'editor';
@import 'create';
@import 'public';
@import 'home';